footer.footer 
    .container 
        .footer__body 
            .footer__block
                .footer__menu 
                    ul  
                        li.footer__item  
                            a(href="") Програмы питания
                        li.footer__item  
                            a(href="") О нас
                        li.footer__item  
                            a(href="") Бизнес-ланчи
                        li.footer__item  
                            a(href="") Gastro Shop
                        li.footer__item  
                            a(href="") Блог
            .footer__block
                .footer__logo
                    +logo('сервис здорового питания')(class="FooterLogo")
            .footer__block
                .footer__spons 
                    a(href="").footer__spons-need Условия сотрудничества
                    a(href="").footer__spons-need FAQ
                    .footer__socials 
                        a(href="").footer__icon.black
                            img(src="assets/img/Icons/instagram.svg", alt="instagram")
                        a(href="").footer__icon
                            img(src="assets/img/Icons/facebook.svg", alt="facebook")
                        a(href="").footer__icon.black
                            img(src="assets/img/Icons/whatsapp.svg", alt="whatsapp")
                        a(href="").footer__icon
                            img(src="assets/img/Icons/telegram.svg", alt="telegram")
                    a(href="tel:+38 (068) 949 - 49 - 19").footer__phone +38 (068) 949 - 49 - 19