
header.header 
    .container 
        .header__menu 
            +logo(class="bowl")
            .header__menu-phone
                a(href="tel:+38 (068) 949 - 49 -19") 
                    img(src="assets/img/icons/phone.svg", alt="")  
            .header__menu-icon
                .header__menu-svg
                    span    
            nav.menu.mt-60
                ul.menu__list 
                    li.menu__item: a(href="") Програмы питания
                    li.menu__item: a(href="") Бизнес-ланчи
                    li.menu__item: a.active(href="") Gastro Shop
                    li.menu__item: a(href="") О нас
                    li.menu__item: a(href="") Блог
                .p-number
                    a(href="tel:+38 (068) 949 - 49 -19") +38 (068) 949 - 49 -19
                .languages
                    .languages_lang
                        a.active(href="") RU
                    .languages_lang
                        a(href="") UA
                    .languages_lang
                        a(href="") EN