include mixin.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="assets/css/style.min.css")
    body
        include _header.pug 
        include _type.pug

        block content 

        include _footer.pug
        script(src="assets/js/splide.min.js")
        script(src="assets/js/splide-extension-auto-scroll.min.js") 
        script(src="assets/js/index.min.js") 
