.formBlock{
    margin-top: calc(((150 - 100)*(100vw - 768px))/(1920 - 768) + 100px);
    @media (max-width:428px){
        margin-top: 100px;
    }
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: -291px;
        right: -462px;
        width: 603.42px;
        height: 603.42px;
        z-index: -1;
        background: rgba(38, 240, 58, 0.1);
        border-radius: 50%;
        @media (max-width:1024px){
            display: none;
        }
    }
    &::before{
        content: '';
        position: absolute;
        top: 197.57px;
        left: -721px;
        width: 519.49px;
        height: 519.49px;
        border: 30px solid rgba(38, 240, 58, 0.1);
        z-index: -1;
        border-radius: 50%;
        @media (max-width:1024px){
            display: none;
        }
    }
}

.col-my-5{
    @media (max-width:1024px){
        min-width: 418px;
        margin: 0 auto;
    }
    @media (max-width:428px){
        min-width: 100%;
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__title{
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: calc(((30 - 25)*(100vw - 768px))/(1920 - 768) + 25px);
        @media (max-width:768px){
            font-size: calc(((25 - 20)*(100vw - 320px))/(768 - 320) + 20px);
            margin-bottom: calc(((7 - 10)*(100vw - 320px))/(768 - 320) + 10px);
        }
        line-height: 33px calc(((33 - 28)*(100vw - 768px))/(1920 - 768) + 28px);
        text-align: center;
        color: $black;
        margin-bottom: calc(((2 - 7)*(100vw - 768px))/(1920 - 768) + 7px);
    }
    &__subtitle{
        text-align: center;
        font-weight: 400;
        font-size: 16px ;
        line-height: 133.8%;
        text-align: center;
        letter-spacing: 0.025em;
        color: $black;
    }
    &__item{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        position: relative;
        &._error{
            label{
                color: $lightpink;
            }
            &::before{
                content: '';
                position: absolute;
                right: 13px;
                bottom: 13px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: $lightpink;
            }
        }
        &._correct{
            label{
                color: $green;
            }
            &::before{
                content: '';
                position: absolute;
                right: 13px;
                bottom: 13px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: $green;
            }
        }
    }
    &__input{
        width: 100%;
        background: #DEE6EE;
        border-radius: 190px;
        padding: 10px 20px 9px 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 133.8%;
        letter-spacing: 0.025em;
        color: $black;
        &:hover,&:focus{
            padding: 9px 19px 8px 19px;
            border: 1px solid #64D370;
        }
    }
    &__label{
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: 18px;
        line-height: 133.8%;
        letter-spacing: 0.025em;
        color: $black;
        margin: 0 0 5px 18px;
    }
    &__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            font-family: 'Comfortaa';
            font-weight: 700;
            font-size: 22px;
            line-height: 133.8%;
            text-align: center;
            letter-spacing: 0.025em;
            padding: 10px 0;
        }
    }
    &__button{
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: 22px;
        @media (max-width:768px){
            width: 100%;
            font-size: calc(((22 - 18)*(100vw - 320px))/(768 - 320) + 18px);
            padding: 16px 0;
            border: 2px solid #64D370;
        }
        line-height: 133.8%;
        text-align: center;
        letter-spacing: 0.025em;
        padding: 13px 26px 12px 27px;
        color: $green;
        border: 3px solid #64D370;
        filter: drop-shadow(0px 0px 40px rgba(86, 86, 86, 0.3));
        border-radius: 190px;
        &:hover ,&.active{
            background: $green;
            color: $white;
        }
        &.big-button{
            @media (max-width:768px){
                font-size: calc(((24 - 20)*(100vw - 320px))/(768 - 320) + 20px);
                padding: 15px 0 14px 0;
            }
            padding: 11px 66px 11px 65px;
        }
    }
}
.checkbox{
    width: 100%;
    display: block;
    &__item{
        margin:0 0 15px 14px;
        min-width: 100%;
        display: flex;
        align-items: center;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__label{
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: 16px;
        @media (max-width:768px){
            font-size: calc(((16 - 14)*(100vw - 320px))/(768 - 320) + 14px);
        }
        line-height: 133.8%;
        letter-spacing: 0.025em;
        color: $black;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        cursor: pointer;
        &::before{
            content: '';
            display: block;
            align-self: start;
            flex: 0 0 26px;
            height: 26px;
            background: #DEE6EE;
            border-radius: 50%;
            margin-right: 20px;
        }
        &::after{
            content: "";
            position: absolute;
            top: 7px;
            left: 7px;
            width: 12px;
            height: 12px;
            background: $green;
            border-radius: 50%;
            transform: scale(0);
            transition: transform .3s ease 0s;
        }
        a{
            color: $green;
        }
    }
    &__input{
        display: none;
        &._error{
            & + .checkbox__label::after{
                transform: scale(0.5);
                background: $lightpink;
            }
        }
        &._correct{
            & + .checkbox__label::after{
                transform: scale(0.5);
                background: $green;
            }
        }
        &:hover + .checkbox__label::after{
            transform: scale(0.5);
            background: $green;
        }
        &:checked + .checkbox__label::after{
            transform: scale(1);
            background: $green;
        }
    }
}
