.photoSlide{
    margin-top: 120px;
    &__title{
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: 30px;
        line-height: 33px;        
        text-align: center;
        margin-bottom: 60px;
    }
}