.types{
    position: absolute;
    top: 168px;
    z-index: 50;
    @media (max-width:1024px){
        top: 111px;
        margin-left: 10px;
    }
    @media (max-width:428px){
        position: fixed;
        width: 90%;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0;
    }
    &__icon{
        @media (max-width: 428px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &__link{
        margin-bottom: 50px;
        @media (max-width:1024px){
            margin-bottom: 10.48px;
            font-size: 10px; 
        }
        @media (max-width: 428px) {
            margin: 0;
        }
        a{
            display: inline-block;
            overflow: hidden;
            position: relative;
            font-family: 'Comfortaa';
            font-weight: 700;
            font-size: 20px;
            line-height: 138.5%;
            text-align: center;
            color: $black;
            background: $white;
            box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
            height: 70px;
            width: 70px;
            border-radius: 190px;
            transition: all 0.5s ease;
            svg{
                @media (max-width:1024px){
                    width: 23px;
                    height: 23px;
                }
                display: block;
            }
            padding-left: 10px;
            @include dflex(center, space-between);
            &:hover{
                color: $green;
                display: flex;
                align-items: center;
                width: 188px;
                svg{
                    path{
                        fill:$green;
                    }
                }
                .types_text{
                    display: block;
                }
                @media (max-width:1024px){
                    width: 41.27px;
                    svg{
                        path{
                            fill:$green;
                        }
                    }
                }
            }
            @media (max-width:1024px){
                width: 41.27px;
                height: 41.27px;
                font-size: 10px;
            }
        }
    }
    &_text{
        position: absolute;
        left: 94px;
        display: none;
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 0.025em;
        color: $green;
    }
}

.social {
    transition:all 0.6s cubic-bezier(0, 0.49, 0.57, 1.58) 0s;
    position: fixed;
    bottom: 100px;
    @media (max-width:1024px){
        position: fixed;
        right: 0;
    }
    right: -1000px;
    z-index: 5;
    &.chat{
        right: 50px;
        .social__telegram{
            left: -15px;
        }
        .social__whatsapp{
            left: 25px;
        }
    }
    &__message{
        position: absolute;
        top: -82.29px;
        right: 0px;
        width: 206.71px;
        height: 60.16px;
        background: #F5FAFF;
        border-radius: 11px;
        box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
        backdrop-filter: blur(7.5px);
        &::before{
            content: '';
            position: absolute;
            top: 100%;
            right: 27px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid $white;
        }
    }
    &__body{
        padding: 13px 17px;
    }
    &__sentence{
        font-weight: 400;
        font-size: 12px;
        line-height: 133.8%;
        span{
            color: $green;
        }
    }
    &__circle-main{
        position: relative;
        width: 80px;
        height: 80px;
        @media (max-width:1024px){
            transform: scale(0.6);
            bottom: 10px;
        }
        background: $white;
        border-radius: 50%;
        box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
        @include dflex();
        cursor: pointer;
        & img{
            width: 36px;
            height: 36px;
            display: block;
        }
    }
    &__telegram{
        position: absolute;
        transition:all 0.6s cubic-bezier(0, 0.49, 0.57, 1.58) .5s;
        left: 1500px;
        bottom: -30px;
        @media (max-width:1024px){
            transform: scale(0.6);
            left: 0px;
            bottom: 0px;
        }
        width: 33px;
        height: 33px;
        background: #000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        & img{
            width: 17px;
            height: 17px;
        }
    }
    &__whatsapp{
        position: absolute;
        transition:all 0.6s cubic-bezier(0, 0.49, 0.57, 1.58) .7s;
        left: 1500px;
        bottom: -42px;
        @media (max-width:1024px){
            transform: scale(0.6);
            bottom: -10px;
        }
        width: 33px;
        height: 33px;
        background: #000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        & img{
            width: 18px;
            height: 18px;
        }
    }
    &__hidden {
        display: none;
    }
}