extends ../blocks/temp.pug
block content 
    .container 
        .bg
        .slide
            .main 
                h1.main__text 
                    != 'Здравствуйте! Меня зовут <span>Кобылинский Кирилл,</span> и я являюсь <span>основателем GastroChef.</span> '
                .main__subtext 
                    p.mb-20 Я Мастер Спорта Украины по тяжёлой атлетике, а так же состоял в составе сборной Украины. 
                    p У меня высшее образование национального университета физического воспитания и спорта Украины (НФВСУ), а так же в прошлом я профессиональный фитнес тренер! 
                b И я хочу Вам рассказать побольше о GastroChef.
            .img 
                img(src="assets/img/foods/image3.png", alt="")

    .history 
        .history__image
            img(src="assets/img/foods/package.png", alt="")
        .container 
            .row
                    .history__desc
                        h2.history__titel История GastroChef началась более 6-ти лет назад... 
                        .history__paragraphs 
                            p Долгое время я наблюдал как людям не хватает времени для правильного и здорового питания, какое правильного, просто питания регулярного. 
                            p Они могли позавтракать, в обед съесть что-то типа шаурмы или снэка, а вечером в силу голода наесться, что плохо сказывалось на их обмене веществ и естественно здоровье. 
                            p Желание хоть как-то изменить ситуацию и помочь людям не давало мне покоя и я решил открыть доставку еды правильного питания. 
                            p Я со своим 17-и летним опытом в спорте и проф. образованием, вместе с диетологом разработали рационы  питания с подсчетом калорий (КБЖУ).
                        h2.history__titel.history__titel-b История GastroChef началась более 

    .team 
        .team__image
            img(src="assets/img/team.jpg", alt="")

    .history.about
        .history__image
            img(src="assets/img/foods/forwhom.png", alt="")
        .container 
            .row
                .history__desc.about__desc
                    h2.history__titel «GastroChef - легко для занятых»
                    .history__paragraphs 
                        p GastroChef - правильное питание с доставкой на дом, создано что бы облегчить жизнь, освободить время от готовки, от ненужных перекусов, фастфудов и дать возможность чувствовать себя легко и полным энергии, сил, для новых свершений и побед.
                        p Все продукты для приготовления правильного питания закупаются только с сертификатами, а рационы готовятся на современной и безопасной кухне ночью перед приездом к Вам!
                        p 
                            b Друзья, если у Вас остались вопросы Вы с легкостью можете позвонить нам или написать мне лично в Инстаграм или Фейсбук.

                    h2.history__titel.history__titel-b С уважением, Кобылинский Кирилл.
                    .about__social 
                        .about__icons 
                            a(href="#").footer__icon.black
                                img(src="assets/img/Icons/instagram.svg", alt="instagram")
                            a(href="#")
                                img(src="assets/img/Icons/facebook.svg", alt="")
                            span - Я в социальных сетях

    +photoSlide
    
    .container
        .formBlock
            +formBlock
